{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <h1 class="text-center pt-5">Optimize Windows 10 Performance</h1>
    <h3 class="text-center pt-3">(Especially for Laptops with Nvidia Graphic Card)</h3>
    <h2 class="pt-5 text-center">Optimize Graphics Settings</h2>
    <br>
    <hr>
    <br>
    <h3>1. Download and Install Nvidia Geforce Experience</h3>
    <p class="pt-5 ls text-right" style="font-size:125%;">
      First, <a href="https://www.nvidia.com/en-my/geforce/geforce-experience/download/">Nvidia Geforce Experience</a> need to be downloaded and installed
      <br>
      <br>
      Geforce Experience is a software provided by Nvidia which can update your Nvidia graphics card driver to the latest version.
      <br>
      <br>
      <img src="{%static 'geforce_Exp.png'%}" alt="" height="540", width="940">
    </p>
    <br>
    <h3>2. Update Drivers for Intel Devices (Intel Driver & Support Assistant)</h3>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      Then you will also need to install the <a href="https://www.intel.com/content/www/us/en/support/detect.html" target="_blank"><b>Intel Driver & Support Asisstant</b></a> to keep the drivers of the Intel devices up to date.
      <br>
      <br>
      <img src="{%static 'intel_DSA.jpg'%}" alt="" height="540", width="960">
    </p>
    <br>
    <h3>3. Update Windows</h3>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      Also, update windows regularly to ensure your PC work smoothly.
      <br>
      <br>
      You can update windows from <b>Settings -> Update & Security -> Windows Update -> Check for Updates</b>
      <br>
      <br>
      Highly recommend to apply <b>'Pause for updates for 7 days'</b> after finish updating windows.
      <br>
      <br>
      Don't allow <b>optional quality updates</b> as these updates are not stable and may have bugs.
      <br>
      <br>
      <img src="{%static 'windows_update.jpg'%}" alt="" height="540", width="960">
    </p>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      Turn off <b>delivery optimization</b> by disable <b>"Allow downloads from other PCs"</b>.
      <br>
      <br>
      This option can be found in <b>Settings -> Update & Security -> Delivery Optimization -> Allow downloads from other PCs</b>
      <br>
      <br>
      <img src="{%static 'delivery_optimization.jpg'%}" alt="" height="540", width="960">
    </p>
    <br>
    <hr>
    <br>
    <div class="text-center">
      <a href="{%url 'home'%}" class="btn btn-primary btn-lg my-2">Back</a>
    </div>
  </div>
</main>

{% endblock%}
