{%extends 'base.html'%}

{%block content%}
{% load static %}
  <main>
    <div class="container animate-bottom">
      <h1 class="text-center pt-5">Optimize Windows 10 Performance</h1>
      <h3 class="text-center pt-3">(Especially for Laptops with Nvidia Graphic Card)</h3>
      <br>
      <hr>
      <p>Just follow steps below to get a smooth PC. Let's start!</p>
      <div class="container">
        <a href="{%url 'step_1'%}">
          <h2 class="pt-3">1. Update Drivers and Windows</h2>
        </a>
      </div>
      <div class="container">
        <a href="{%url 'step_2'%}">
          <h2 class="pt-3">2. Optimize Graphics Settings</h2>
        </a>
      </div>
      <br>
      <h3 class="text-center">###Still Under Contruction!</h3>
      <!--<div class="container">
        <a href="{%url 'step_1'%}"><h2 class="pt-5">3. Optimize Windows Settings</h2></a>
      </div>
      <div class="container">
        <a href="{%url 'step_1'%}"><h2 class="pt-5">4. Optimize Your Network Settings</h2></a>
      </div>
      <div class="container">
        <a href="{%url 'step_1'%}"><h2 class="pt-5">5. Clean Up and Defrag</h2></a>
      </div> -->
      <br>
      <hr>
      <br>
      <!-- <div class="text-center">
        <a href="" class="btn btn-primary btn-lg my-2">Back</a>
      </div> -->
    </div>

  </main>
{% endblock%}
