{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <div class="text-center">
      <h1 class="pt-5 headg">Optimize Windows 10 Performance</h1>
      <p class="py-3 pargh">(Especially for Laptops with Nvidia Graphics Card)</p>
      <p class="pargh">Just follow the steps below to get a smooth PC. Let's start!</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{%url 'step_1'%}" class="norm"><h2 class="py-2 subhg">1. Update Drivers & Windows</h2></a>
      </li>
      <li class="list-group-item">
        <a href="{%url 'step_2'%}" class="norm"><h2 class="py-2 subhg">2. Optimize Graphics Settings</h2></a>
      </li>
      <li class="list-group-item">
        <a href="{%url 'step_3'%}" class="norm"><h2 class="py-2 subhg">3. Optimize Windows Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="" class="norm"><h2 class="py-2 subhg grey">4. Optimize Network & Internet Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="" class="norm"><h2 class="py-2 subhg grey">5. Clean & Speed Up Your PC</h2></a>
      </li>
    </ul>

  <h3 class="text-center subhg py-3">###Still Under Construction!</h3>
  <!--<div class="container">
    <a href="{%url 'step_1'%}"><h2 class="pt-5">4. Optimize Your Network Settings</h2></a>
    </div>
    <div class="container">
    <a href="{%url 'step_1'%}"><h2 class="pt-5">5. Clean Up and Defrag</h2></a>
    </div> -->

  </div>

</main>
{% endblock%}
