{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <h1 class="text-center pt-5 headg">Optimize Windows 10 Performance</h1>
    <p class="text-center pt-3 pargh">(Especially for Laptops with Nvidia Graphics Card)</p>
    <h2 class="text-center py-4 headg">2. Optimize Graphics Settings</h2>

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <h3 class="subhg">Step 1: Download and Install Geforce Experience</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <p class="pargh">
              <a href="https://www.nvidia.com/en-my/geforce/geforce-experience/download/" target="_blank" class="norm"><b>Geforce Experience</b></a> is a software provided by <b>Nvidia</b> which can update your <b>Nvidia graphics card driver</b> to the latest version.
              <br><br>
              First, <b>Geforce Experience</b> need to be downloaded and installed.
              <br><br>
              Then, you can update graphics driver by opening <b>Geforce Experience</b> then proceed to <b>Drivers -> Download.</b>
              <br><br>
              After finish downloading the latest driver, click <b>"Express Installation"</b> and let the progress to be completed.
              <br><br>
              <img src="{%static 'geforceExp.png'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <h3 class="subhg">Step 2: Optimize Games Graphics in Geforce Experience</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <p class="pargh">
              You can optimize a game graphics by opening <b>Geforce Experience</b>, click on a game profile then click <b>"Optimize"</b>.
              <br>
              <br>
              <img src="{%static 'geforceExpOptimize.png'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <h3 class="subhg">Step 3: Further Optimizations in Geforce Experience</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <p class="pargh">
              Recommend to turn off <b>Nvidia Shield, Whisper Mode, Battery Boost and In-game Overlay</b>.
              <br><br>
              If you are using these features you can leave them turn on.
              <br><br>
              <b>Nvidia Shield</b>: For streaming use.
              <br><br>
              <b>Whisper Mode</b>:   Ensure a quieter gaming by lowering the RPM of the fans.
              <br><br>
              <b>Battery Boost</b>:  Extend your battery life while gaming.
              <br><br>
              <b>In-game Overlay</b>: Provide in-game overlay to capture and share the videos, take screenshots and stream live with friends
              <br><br>
              Note that <b>turning on</b> these features on <b>may affect your gameplay</b> if you're not using a high-end laptop.
              <br><br>
              <img src="{%static 'geforceExpFeatures.png'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            <h3 class="subhg">Step 4: Optimize Nvidia Control Panel Settings</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <p class="pargh">
              You should be able to find <b>Nvidia Control Panel</b> after finish installing <b>Geforce Experience</b> and updating graphics driver.
              <br><br>
              <b>1. Open Nvidia Control Panel:</b>
              <br><br>
              Search and open <b>Nvidia Control Panel</b> from the start or open it from the dekstop context menu.
              <br><br>
              <img src="{%static 'NvidiaCp.png'%}" alt="" class="card">
              <br><br>
              <b>2. Restore to Default Settings:</b>
              <br><br>
              First, in <b>Nvidia Control Panel</b> proceed to <b>Manage 3D settings -> Global Settings</b>, click<b>"Restore"</b> then click <b>"Yes"</b>.
              <br><br>
              Click <b>"Apply"</b> at the right side bottom to apply the settings.
              <br><br>
              <img src="{%static 'NvidiaCpRestore.png'%}" alt="" class="card">
              <br><br>
              <b>3. Custom Program Settings:</b>
              <br><br>
              Proceed to the <b>Program Settings</b> Tab, you can select your game and change the graphics settings here.
              <br><br>
              As an example, <b>Apex Legends</b> is selected here. If your graphics card cannot support up to the <b>1920*1080 resolution</b> and making your game blurry, you can apply <b>Image Sharpening</b> here.
              <br><br>
              Under <b>Image Sharpening</b> select <b>On</b>, change <b>Sharpen</b> and <b>Ignore film grain</b> to the value <b>1.0</b>. Press <b>"Ok"</b> then click <b>"Apply"</b> to apply the settings.
              <br><br>
              Leave all the settings to be <b>default</b> if your graphics card can support up to <b>1920*1080 resolution</b> of the game.
              <br><br>
              <img src="{%static 'NvidiaCpPs.png'%}" alt="" class="card">
              <br><br>
              Now you're finished with the <b>Nvidia Control Panel</b> settings.
            </p>
          </div>
        </div>
      </div>
    </div>







    <div class="text-center"><a href="{%url 'home'%}" class="btn btn-primary btn-lg my-3">Back</a></div>
  </div>
</main>

{% endblock%}
