{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <div class="text-center">
      <h1 class="pt-5 headg">Optimize Windows 10 Performance</h1>
      <p class="pt-3 pargh">(Especially for Laptops with Nvidia Graphics Card)</p>
      <h2 class="py-4 subhg">Optimize Windows Settings</h2>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <h2 class="py-3 subhg"><a href="{%url 'step3_1'%}" class="norm">1. System Settings</a></h2>
      </li>
    </ul>

    <h3 class="py-3 subhg text-center">###Still Under Construction!</h3>

    <div class="text-center"><a href="{%url 'home'%}" class="btn btn-primary btn-lg my-3">Back</a></div>
  </div>
</main>

{% endblock%}