{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <h1 class="text-center pt-5">Optimize Windows 10 Performance</h1>
    <h3 class="text-center pt-3">(Especially for Laptops with Nvidia Graphic Card)</h3>
    <h2 class="pt-5 text-center">Update Drivers and Windows</h2>
    <br><hr><br>

    <h3>1. Update Drivers (Driver Booster)</h3>
    <p class="pt-5 ls text-right" style="font-size:125%;">
      To update the drivers in your PC, I'd recommend the
      <a href="https://www.iobit.com/en/driver-booster.php" target="_blank"><b>Driver Booster.</b></a>
      <br>
      <br>
      Driver Booster is a software that can identify the outdated drivers, then update the drivers to the latest version.
      <br>
      <br>
        <img src="{%static 'driverB.png'%}" alt="" class="center-fit">
    </p><br>

    <h3>2. Update Drivers for Intel Devices (Intel Driver & Support Assistant)</h3>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      Then you will also need to install the <a href="https://www.intel.com/content/www/us/en/support/detect.html" target="_blank"><b>Intel Driver & Support Asisstant</b></a> to keep the drivers of the Intel devices up to date.
      <br>
      <br>
      <img src="{%static 'intel_DSA.jpg'%}" alt="" class="center-fit">
    </p><br>

    <h3>3. Update Windows</h3>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      Also, update windows regularly to ensure your PC work smoothly.
      <br>
      <br>
      You can update windows from <b>Settings -> Update & Security -> Windows Update -> Check for Updates</b>
      <br>
      <br>
      Highly recommend to apply <b>"Pause for updates for 7 days"</b> after finish updating windows.
      <br>
      <br>
      Don't allow <b>optional quality updates</b> as these updates are not stable and may have bugs.
      <br>
      <br>
      <img src="{%static 'windows_update.jpg'%}" alt="" class="center-fit">
    </p><br>

    <h3>3. Update Windows Apps in Microsoft Store</h3>
    <p class="pt-5 ls text-justify" style="font-size:125%;">
      You can update <b>Windows apps</b> in <b>Microsoft Store</b>.
      <br><br>
      Search and open <b>Microsoft Store</b> from the <b>Start</b>, proceed to <b>Downloads and updates -> Get Updates</b> to update <b>Windows apps</b>.
      <br><br>
      You can also prevent <b>Windows apps</b> from updating automatically by turning off <b>Update apps automatically</b> in <b>Microsoft Store -> Settings</b>.
      <br><br>
      <img src="{%static 'mS.png'%}" alt="" class="center-fit">
    </p>

    <br><hr><br>
    <div class="text-center">
      <a href="{%url 'home'%}" class="btn btn-primary btn-lg my-2">Back</a>
    </div>
  </div>
</main>

{% endblock%}
