{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <h1 class="text-center pt-5 headg">Optimize Windows 10 Performance</h1>
    <p class="text-center pt-3 pargh">(Especially for Laptops with Nvidia Graphics Card)</p>
    <h2 class="text-center py-4 headg">1. Update Drivers & Windows</h2>

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <h3 class="subhg blue">Step 1: Update Drivers (Driver Booster)</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <p class="pargh">
              To update the drivers in your PC, I'd recommend the
              <a href="https://www.iobit.com/en/driver-booster.php" target="_blank" class="norm"><b>Driver Booster.</b></a>
              <br>
              <br>
              Driver Booster is a software that can identify the outdated drivers, then update the drivers to the latest version.
              <br>
              <br>
                <img src="{%static 'driverB.png'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <h3 class="subhg blue">Step 2: Update Drivers for Intel Devices</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <p class="pargh">
              Then you will also need to install the <a href="https://www.intel.com/content/www/us/en/support/detect.html" target="_blank" class="norm"><b>Intel Driver & Support Asisstant</b></a> to keep the drivers of the Intel devices up to date.
              <br>
              <br>
              <img src="{%static 'intel_DSA.jpg'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            <h3 class="subhg blue">Step 3: Update Windows</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <p class="pargh">
              Also, update windows regularly to ensure your PC work smoothly.
              <br>
              <br>
              You can update windows from <b>Settings -> Update & Security -> Windows Update -> Check for Updates</b>
              <br>
              <br>
              Highly recommend to apply <b>"Pause for updates for 7 days"</b> after finish updating windows.
              <br>
              <br>
              Don't allow <b>optional quality updates</b> as these updates are not stable and may have bugs.
              <br>
              <br>
              <img src="{%static 'windows_update.jpg'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            <h3 class="subhg blue">Step 4: Update Windows Apps in Microsoft Store</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <p class="pargh">
              You can update <b>Windows apps</b> in <b>Microsoft Store</b>.
              <br><br>
              Search and open <b>Microsoft Store</b> from the <b>Start</b>, proceed to <b>Downloads and updates -> Get Updates</b> to update <b>Windows apps</b>.
              <br><br>
              You can also prevent <b>Windows apps</b> from updating automatically by turning off <b>Update apps automatically</b> in <b>Microsoft Store -> Settings</b>.
              <br><br>
              <img src="{%static 'mS.png'%}" alt="" class="card">
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center"><a href="{%url 'home'%}" class="btn btn-primary my-3">Back</a></div>
  </div>
</main>

{% endblock%}
