{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <div class="text-center">
      <h1 class="pt-5 headg">Optimize Windows 10 Performance</h1>
      <p class="pt-3 pargh">(Especially for Laptops with Nvidia Graphics Card)</p>
      <h2 class="py-4 headg">Optimize Windows Settings</h2>
      <p class="pargh">Don't modify "Phone" & "Ease of Access" settings unless you have to!</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg">1. System Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">2. Devices Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">3. Network & Internet Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">4. Personalization Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">5. Apps Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">6. Account Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">7. Time & Language Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">8. Gaming Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">9. Search Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">10. Privacy Settings</h2></a>
      </li>
      <li class="list-group-item disabled">
        <a href="{%url 'step3_1'%}" class="norm"><h2 class="py-2 subhg grey">11. Update & Security Settings</h2></a>
      </li>
    </ul>
    <h3 class="py-3 subhg text-center">###Still Under Construction!</h3>

    <div class="text-center"><a href="{%url 'home'%}" class="btn btn-primary my-3">Back</a></div>
  </div>
</main>

{% endblock%}
