{%extends 'base.html'%}

{%block content%}
{% load static %}
<main>
  <div class="container animate-bottom">
    <h1 class="text-center pt-5">Optimize Windows 10 Performance</h1>
    <h3 class="text-center pt-3">(Especially for Laptops with Nvidia Graphic Card)</h3>
    <h2 class="pt-5 text-center">Optimize Windows Settings</h2>
    <br><hr><br>
    <a href="{%url 'step3_1'%}">
      <h2 class="pt-3">1. System Settings</h2>
    </a>
    <br><br>
    <h3 class="text-center">###Still Under Construction!</h3>
    <br><hr><br>
    <div class="text-center">
      <a href="{%url 'home'%}" class="btn btn-primary btn-lg my-2">Back</a>
    </div>
  </div>
</main>

{% endblock%}
